@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

:root {
  --primary-color: #ff5733;
  --secondary-color: #222;
  --header-footer-light: #cecdcd;
  --text-color: white;
  --background-light: #f4f4f4;
  --background-dark: #1a1a1a;
  --hover-color: #ff7849;
}

html,
body {
  font-family: "Oswald", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--background-dark);
  color: var(--text-color);
}

#root {
  background: red;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex-grow: 1;
  min-height: 5000px;
}

.footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #222;
  position: relative;
  color: white;
  margin-top: auto; /* Plasserer footeren nederst */
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

a:hover {
  color: var(--hover-color);
}

[data-theme="light"] body {
  background-color: var(--background-light);
  color: #000;
}

[data-theme="light"] a {
  color: var(--secondary-color);
}

[data-theme="light"] a:hover {
  color: var(--primary-color);
}

[data-theme="light"] p {
  color: #000000;
}

/* Høy Kontrast Mode */
[data-high-contrast="true"] {
  --primary-color: yellow;
  --secondary-color: black;
  --text-color: white;
}

[data-high-contrast="true"] button {
  background-color: yellow;
  color: black;
}

/* Fontstørrelse */
[data-font-size="small"] {
  font-size: 16px;
}

[data-font-size="medium"] {
  font-size: 18px;
}

[data-font-size="large"] {
  font-size: 20px;
}
