.movieCard {
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.poster {
  width: 100%;
  object-fit: cover; /* Sikrer at bildet beholder proporsjoner */
  border-radius: 10px;
}

.carouselMovie:hover {
  transform: none;
  box-shadow: none;
}

.gridMovie:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

[data-theme="light"] .movieCard {
  background-color: var(--background-light);
  color: black;
}
