.carousel {
  width: 80%;
  margin: auto;
}

.slick-slide {
  display: flex;
  justify-content: center;
}

.slick-dots {
  bottom: -30px;
}

.slick-prev,
.slick-next {
  color: white;
  z-index: 10;
}
