.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100%;
  position: relative;
  color: white;
}

.section-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-text {
  font-size: 2rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
