#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  color: aquamarine;
  background-color: #312c2c;
}

.slider-wrapper {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

/* Center the content inside each slide */
.slick-slide > div {
  display: flex;
  flex-direction: column; /* Stack items (e.g., image, text) vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
